@page
@model Exam.Pages.StatisticModel
@{
    ViewData["Title"] = "Статистика по заявкам";
}
<h1>Статистика по заявкам</h1>

<div>
    <a href="GetOrders">Все заявки</a>
    <a href="AddOrder">Добавить заявку</a>
    <a href="EditOrder">Изменить заявку</a>
    <a href="Statistic">Статистика по заявкам</a>
</div>
<table border="1">
    <thead>
        <th>Количество выполненых заявок</th>
        <th>Среднее время выполнения заявки</th>

    </thead>
    <tbody>
        <tr>
            <td>@Model.complitedOrdersCount</td>
            <td>@Model.avgCompleteOrderTime</td>
        </tr>
    </tbody>
</table>
<table border="1">
    <thead>
        <th>Статистика по типам неисправностей</th>
    </thead>
    <tbody>
        @foreach (var problemType in Model.problemStats)
        {
            <tr>
                <td>@problemType.Key</td>
                <td>@problemType.Value</td>
            </tr>
        }
    </tbody>
</table>